body {
	text-align: center;
	display: block;
	font-family: 'Playfair Display SC', 'Helvetica', 'Sans';
	background-color: #fcfcff;
	margin-left: 2%;
	margin-right: 2%;
}

button {
	font-family: 'Playfair Display SC', 'Helvetica', 'Sans';
	font-size: 0.7em;
	cursor: pointer;
	border-radius: 6px;
	padding: 0.25%;
}

table {
	text-align: left;
	border-collapse: collapse;
}

tr td,
tr th {
	padding-top: 0.4%;
	padding-bottom: 0.4%;
	padding-left: 0.7%;
	text-align: left;
	border: 1px solid #ddd;
}

th {
	font-size: 0.9em;
}

td {
	padding: 0.7%;
}

.footer a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
